* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #E8FFFF;
    margin: none;
    padding: none;
    font-family: sans-serif;
}

.page {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.col-1 {
    margin: 0;
    width: 8.33%;
}

.col-2 {
    margin: 0;
    width: 16.67%;
}

.col-9 {
    margin: 0;
    width: 75%;
}

.row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.nav {
   
}

.home{
    width:80%;
    float:left;
    margin: 0;
    font-size:50px;
    
    
}
.nav a{
    text-decoration: none;
    color: dimgrey;
}

.nav a:hover{
    color: #000FFF;
}

.nav li{
    list-style-type: none;
    text-align: right;
}