* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #E8FFFF;
    margin: none;
    padding: none;
    font-family: sans-serif;
}

.page {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.col-2 {
    margin: 0;
    width: 16.67%;
}

.home{
    width:80%;
    float:right;
    margin: 0;
    text-decoration: none;
    
}
.nav a{
    text-decoration: none;
    color: dimgrey;
}

.nav a:hover{
    color: #000FFF !important;
}

.nav li{
    list-style-type: none;
    text-align: right;
}

figure {
    margin-left: 0;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: red;
}