* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Neil";
    src: url(https://files.cargocollective.com/c27001/SuisseIntl-Regular-WebS.woff);
}

html {
    background-color: black;
    margin: none;
    padding: none;
    font-family: "Neil";
    font-weight: 200;
    color: azure;
}

.page {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.col-2 {
    margin: 0;
    width: 16.67%;
}

h2 {
   font-size: 50px; 
}

.home{
    width:80%;
    float:right;
    margin: 0;
    text-decoration: none; 
    font-weight: 20;
}

.title{
    padding-right: 50px;
    text-align: right;
    float: right;
    right: 0;
    position:fixed;
    font-family:"Neil";
    font-weight: 40;
  
}

.nav a{
    text-decoration: none;
    color: azure;
}

.nav a:hover{
    color: salmon !important;
}

.nav li{
    padding-top: 1em;
    list-style-type: none;
    text-align: right;
}

figure {
    margin-left: 0;
}

a:-webkit-any-link {
    color: azure;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: red;
}

nav {
 position: fixed;
}