* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Graphik";
    src: url(fonts/Graphik-Medium.otf);
         /*url("/fonts/comprehension-dark.ttf") format("ttf");*/
}

html {
    background-color: #E8FFFF;
    margin: none;
    padding: none;
    font-family: "Graphik", sans-serif;
}

.page {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.col-2 {
    margin: 0;
    width: 16.67%;
}

h2 {
   font-size: 50px; 
}

.home{
    width:80%;
    float:right;
    margin: 0;
    text-decoration: none;
    
}
.nav a{
    text-decoration: none;
    color: dimgrey;
}

.nav a:hover{
    color: #000FFF !important;
}

.nav li{
    padding-top: 1em;
    list-style-type: none;
    text-align: right;
}

figure {
    margin-left: 0;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: red;
}

nav {
 position: fixed;
}